body{
  background-image: url(background.jpg); background-size: cover;
}
h1 {
  background-color: rgb(166, 200, 201);
}
h2 {
  font-family:'Anton', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.dropdown-item: hover{
background-color: rgb(166, 200, 201);
}
.pop{
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-display: fallback;
  font-size: 100px

}
